.tablaEntradas{
    border: 2px black solid;
    position: absolute;
    width: 1150px;
    left: 20%;
    top: 25%;
    border-collapse: collapse;
    text-align: center;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
    ;
}
thead{
    background-color: #4c5b61;
    border-bottom: solid 5px black;
    color: white;
}

.boton_nuevo{
    position: absolute;
    left: 20%;
    top: 18%;
}

.btn-nuevo, .btn-modificar, .btn-eliminar, .btn-entregar{
    background-color: #829191;
    border: none;
    color: #ffffffb2;
    padding: 15px 32px;
    cursor: pointer;
}

.btn-nuevo:hover, .btn-modificar:hover, .btn-eliminar:hover, .btn-entregar:hover {
    color: white;
}

.contenido_tabla{
    text-align: center;
}