.todo{
    position: absolute;
    width: 1150px;
    left: 45%;
    top: 13%;
    border-collapse: collapse;
    text-align: left;
    border: solid 2px black;
    width: 400px;
    padding-left: 2rem;
    padding-top: 2rem; 
    padding-bottom: 2rem; 
}

.btn-guardar{
    margin-left: 130px;
    background-color: #829191;
    border: none;
    color: #ffffffb2;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 7px;
}

#fechaEntrada, #fechaEntrega, #precio{
    border-radius: 7px;
    width: 300px;
    height: 1.5rem;
}